{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}文章列表{% endblock %}
{% block content %}
    <div class="row text-center">
        <h1>阅读，阅读</h1>
    </div>
    <div class="container">
        {% for article in articles %}
            <div class="list-group">
                <a href="{% url 'article:list_article_detail' article.id article.slug %}" class="list-group-item active">
                    <h4 class="list-group-item-heading">{{ article.title }}</h4></a>
                    <p class="list-group-item-text">作者：<a href="{% url 'article:author_titles' article.author.username %}">{{ article.author.username }}</a></p>
                    <p class="list-group-item-text">概要：{{ article.body|slice:':70'|linebreaks }}</p>
            </div>
        {% endfor %}
        {% include 'article/paginator.html' %}
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/layer.js' %}"></script>
{% endblock %}