{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Forgotten you password? Reset, here.</h1>
        <p>Enter you email to set a new password.</p>
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">Email</label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary " value="Send Email">
        </form>
    </div>
{% endblock %}