{% extends 'article/base.html' %}
{% load staticfiles %}
{% block title %}article column{% endblock %}
{% block content %}
<div>
    <p class="text-right"><button class="btn btn-primary" onclick="add_column()">Add Column</button></p>
    <table class="table table-hover">
        <thead>
            <th>序号</th>
            <th>栏目名称</th>
            <th>操作</th>
        </thead>
        {% for column in columns %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.column }}</td>
            <td>
                <a name="edit" href="javascript:" onclick="edit_column(this, {{ column.id }})">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a name="delete" href="javascript:" onclick="delete_column(this, {{ column.id }})">
                    <span class="glyphicon glyphicon-trash" style="color: red"></span>
                </a>
            </td>
        </tr>
        {% empty %}
        <p>还没有设置栏目，太懒了。</p>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/layer.js' %}"></script>
    <script>
        function add_column(){
            var index = layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                area: ['400px', '200px'],
                content: '<div class="text-center" style="margin-top:20px"><p>请输入新的栏目名称</p><p><input type="text" id="id_column"</p></div>',
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    column_name = $('#id_column').val();
                    $.ajax({
                        url: '{% url "article:article_column" %}',
                        type: 'POST',
                        data: {'column': column_name},
                        success:function (e) {
                            if (e == '1') {
                                parent.location.reload();
                            }else{
                                layer.msg('此栏目已存在');
                            }
                        }
                    })
                }
            })
        }
        function edit_column(the, column_id){
            var name = $(the).parents('tr').children("td").eq(1).text();
            var index = layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                area: ['400px', '200px'],
                content: '<div class="text-center" style="margin-top:20px"><p>编辑栏目</p><p><input type="text" id="edit_column" value="'+name+'"></p></div>',
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    column_name = $('#edit_column').val();
                    $.ajax({
                        url: '{% url "article:rename_article_column" %}',
                        type: 'POST',
                        data: {'column': column_name, 'column_id': column_id},
                        success:function (e) {
                            if (e == '1') {
                                parent.location.reload();
                            }else if(e == '2'){
                                layer.msg('重名，请重新修改');
                            }else{
                                layer.msg('内部错误')
                            }
                        }
                    })
                }
            })
        }
        function delete_column(the, column_id){
            var name = $(the).parents('tr').children('td').eq(1).text();
            var index = layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                area: ['400px', '200px'],
                content: '<div class="text-center" style="margin-top:20px"><p>编辑栏目</p><p><input type="text" id="delete_column" value="'+name+'"></p></div>',
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    column_name = $('#delete_column').val();
                    $.ajax({
                        url: '{% url "article:delete_article_column" %}',
                        type: 'POST',
                        data: {'column_id': column_id},
                        success:function (e) {
                            if (e == '1') {
                                parent.location.reload();
                            }else{
                                layer.msg('内部错误')
                            }
                        }
                    })
                }
            })
        }
    </script>

{% endblock %}